<% layout("layouts/boilerplate.ejs") %>

<div class="row mt-3" style="width: 100%">
  <div class="col-6 offset-3 border rounded p-4 shadow mt-4 mb-5">
    <h3 class="text-center mt-2 mb-5 border-bottom">Create New Blog</h3>
    <form
      method="post"
      action="/blogs"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="image" class="form-label">Upload Blog-Image</label>
        <input type="file" class="form-control" id="image" name="blog[image]" />
      </div>

      <div class="mb-3 mt-4">
        <select
          class="form-select"
          aria-label="Default select example"
          name="blog[category]"
          required
        >
          <option selected disabled>Select Category</option>
          <option value="Tech">Tech</option>
          <option value="Design">Design</option>
          <option value="Mobile">Mobile</option>
        </select>
        <div class="invalid-feedback">Please select a category!</div>
      </div>

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="blog[title]"
          required
        />
        <div class="invalid-feedback">need a good title!</div>
      </div>

      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="write your blog content here"
          id="content"
          style="height: 150px"
          name="blog[content]"
          required
        ></textarea>
        <div class="invalid-feedback">Content cannot be empty!</div>
        <label for="content"></label>
      </div>

      <button type="submit" class="btn btn-primary mt-4">Create Blog</button>
    </form>

    <script>
      tinymce.init({
        selector: "#content",
        plugins: "lists link image code",
        toolbar: "bold italic underline | bullist numlist | link image | code",
        height: 300,
      });
    </script>
  </div>
</div>
